<% if signed_in? %>
	<div class = "row">
		<aside class = "span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class = "span8">
			<h3>わかりうる呟き</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>

<% else %>

	<!-- <div class = "center hero-unit"> -->
	<div style = "width:450px", class = "center">
	<br>
	<h1>わかられよう<br></h1>
	<br>
	<p>目一杯の「わかる」を集めて、君だけの承認欲求を満たそう</p>
	<br><br>
	<%= link_to "今すぐわかられる", signup_path, class: "btn btn-large btn-primaty" %>

	</div>


	<!-- <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> -->

<% end %>