<% provide(:page_title, "ろぐいん") %>

<h1>ろぐいん</h1>
<div class="row">
	<div class = "span4 offset4">
		<%= form_for(:session, url: sessions_path) do |f| %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>
		
		<div class = "actions" style="padding-bottom: 10px; float:right; margin-left: 185px;">
        	<%= f.submit "ろぐいんなさる", class: "btn btn-primary" %>
      	</div>
		<% end %>
    <p>垢持ってないの？(ﾌﾟｰｸｽ	 <%= link_to "つくろう、新垢！", signup_path %></p>
	</div>
</div>