<% provide(:page_title, @user.name) %>
<div class="row">
	<aside class = "span4">
		<section>
			<h1>	
			<%= gravatar_for @user %>
			<%= @user.name %>
			</h1>
		</section>
		<section style="border-bottom:1px solid #eeeeee;">
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class = "span8">
		<%= render 'follow_form' if signed_in? %>
		<% if @user.microposts.any? %>
			<h3>おつぶやき (<%= @user.microposts.count %>)</h3>
			<ol class = "microposts feed">
				<%= render @microposts %>
			</ol>
			<%=  will_paginate @microposts %>
		
		<% elsif current_user?(@user) %>
		<!-- 自作部 -->
			<h3>早よ投稿せい</h3>
		<% else %>
			<h3>まさかの未投稿</h3>
		<% end %>
	</div>
</div>