<% size = icon_size(feed_item) %>
<% space = size + 10 %>

<li id="<%= feed_item.id %>">
    <%= link_to gravatar_for(feed_item.user, size: size), feed_item.user %>

  <div style="float: right; width: <%= 590-space %>px;">
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>

    <span class="content"><%= wrap(feed_item.content) %></span>
    
    <span style="float: left; position: relative; right: <%= size %>px;">
      <%= render partial: 'shared/wakarare_count', locals: { micropost: feed_item } %>
      <%= render partial: 'shared/wakaru_form' , locals: { feed_item: feed_item} %>
      <span class="timestamp">
        Posted <%= time_ago_in_words(feed_item.created_at) %> ago. 
      </span>
    </span>

    <span style="float: right">
      <% if current_user?(feed_item.user) %>
      <%= link_to "delete", feed_item, method: :delete,
                      data: {confirm: "You sure?"},
                      title: feed_item.content %>
      <% end %>
    </span>
  </div>

</li>