<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>" class="waka-count">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    ほろー
  </a>
  
  <a href="<%= followers_user_path(@user) %>" class="waka-count">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    ほろわー
  </a>

  <% @wakaru_num = wakaru_count(@user) %>
  <% @wakaran_num = wakaran_count(@user) %>

  <div class="waka-count">
  <strong style="height:20px;">
    <%= @wakaru_num %>
  </strong>
    わかられる
  </div>


<% if @user.admin %>
  <div class="waka-count">
<% else %>
  <% if @wakaran_num == @wakaru_num + 3 %>
  <div class="waka-count" style="background-color:pink;">
  <% elsif @wakaran_num == @wakaru_num + 2 %>
  <div class="waka-count" style="background-color:yellow;">  
  <% else %>
  <div class="waka-count">
  <% end %>
<% end %>

  <strong style="height:20px;">
    <%= @wakaran_num %>
  </strong>
    わかられず

  </div>

</div>