<% provide(:page_title, "") %>
 
<div class = "hero-unit hero-unit-show">
	<%= link_to gravatar_for(@micropost.user, size: 60), @micropost.user %>
	<span class="user user-show">
		<%= link_to @micropost.user.name, @micropost.user %>
	</span>
	<span class="content-show"><%= wrap(@micropost.content) %></span>
	<%= render partial: 'shared/wakarare_count', locals: { micropost: @micropost } %>
	<%= render partial: 'shared/wakaru_form' , locals: { feed_item: @micropost} %>
	<span class="timestamp">
		Posted <%= time_ago_in_words(@micropost.created_at) %> ago. 
	</span>
	<% if current_user?(@micropost.user) %>
		<%= link_to "delete", @micropost, method: :delete,
		                data: {confirm: "You sure?"},
		                title: @micropost.content %>
	<% end %>
	
	<% if @users.any? %>
		<div class = "waka">わかってくれた人</div>	
		<ul class="users">
			<%= render partial: 'users/user_wo_delete', locals: { users: @users } %>
		</ul>
	<% else %>
		<div class="wakarareteinai">誰にもわかられていない</span>
	<% end %>
</div>