<!DOCTYPE html>
<html>
	<%= render partial: 'layouts/head', locals: {title: yield(:page_title)} %>
	<body class = "gameover">
		<%= render 'layouts/header' %>
		<div style = "width:450px;", class = "container">
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
      		<% end %>
			<%= yield %>
		</div>		
		<%= render 'layouts/footer' %>
	</body>
</html>
